<div class="contents">
  <ul class="contents-menus">
    <li>
      <%= link_to("新規投稿", "/posts/new") %>
    </li>
    <li>
      <%= link_to("ユーザー一覧から探す", "/users/index") %>
    </li>
  </ul>

  <div class="contents-list">
    <% @posts.each do |post| %>
      <div class="contents-item">
        <div class="contents-left">
          <img src="<%= "/images/#{post.user.image}" %>" >
        </div>
        <div class="contents-right">
          <div class="contents-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
            <span>
              ⚤ <%= post.user.sexual %> / ♡ <%= post.user.love %>
            </span>
          </div>
          <div class="contents-content">
            <%=link_to(post.content, "/posts/#{post.id}") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
