<div class="contents-menus">
  <%= link_to("新規投稿", "/posts/new") %>
  <%= link_to("ユーザー一覧から探す", "/users/index") %>
</div>

<div class="index-posts-contents">
  <% @posts.each do |post| %>
    <div class="posts-contents-item">
      <img src="<%= "/images/#{post.user.image}" %>" width="100" height="100">
      <div class="#">
        ▶<%= link_to(post.user.name, "/users/#{post.user.id}") %>
      </div>
      <%= post.user.sexual %><br>
      <%= post.user.love %><br>
      <%=link_to(post.content, "/posts/#{post.id}") %>
  <% end %>
</div>
