<div class="post-details">
  <h1>投稿詳細画面</h1>
  <div class="user-post-item">
    <div class="user-post-left">
      <img src="<%= "/images/#{@user.image}" %>" >
    </div>
    <div class="user-post-right">
      <div class="post-user">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <div class="post-contents">
        <%= @post.content %>
      </div>

      <ul class="post-menu">
        <% if @post.user_id == @current_user.id %>
          <li>
            <%= link_to("編集", "/posts/#{@post.id}/edit", class: "user-post-edit") %>
          </li>
          <li>
            <%= link_to("削除", "/posts/#{@post.id}/destroy", class: "user-post-destroy") %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
